section {
    text-align: center;
    margin: 20pt 0pt;
    
}
section img {
    border-left: 20pt solid transparent;
    border-right: 20pt solid transparent;
    padding: 0pt 20pt;
    transition-property: opacity;
    transition-duration: 0.5s;
}

p {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
